body,
html {
    background: url(images/fondIndex.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

.Section_top {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.content h1 {
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
}

.content h1 span {
    color: #52D1DC;
}

.content a {
    font-weight: bolder;
    background: #52D1DC;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 20px;
    color: #fff;
}

.content a:hover {
    background: #007AC6;
    color: #fff;
}

@media screen and (max-width: 500px) {
    .content a {
        font-size: 10px;
    }
}

.infos {
    padding-bottom: 12%;
}

.presentation {
    transform: translate(15%, 0%);
    width: 800px;
    padding: 30px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, .4);
    text-align: justify;
}

.circle {
    width: 200px;
    height: 200px;
    background: url(https://cdn.pixabay.com/photo/2015/01/09/11/08/startup-594090_960_720.jpg) no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 30px;
}

.container2 {
    transform: translate(85%, 18%);
    width: 800px;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, .4);
    text-align: justify;
}

.circle2 {
    width: 200px;
    height: 200px;
    background: url(https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    float: right;
    shape-outside: circle();
    margin: 30px;
}

.container3 {
    transform: translate(15%, 36%);
    width: 800px;
    padding: 30px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 4);
    text-align: justify;
}

.circle3 {
    width: 200px;
    height: 200px;
    background: url(https://cdn.pixabay.com/photo/2016/03/27/18/54/technology-1283624_960_720.jpg) no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 30px;
}

.footer {
    position: relative;
    display: flex;
    height: 100px;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #2b3035;
    justify-content: space-between;
    text-align: center;
    padding-left: 38%;
    padding-top: 50px;
    padding-right: 38%;
}

.aPropos a {
    text-decoration: none;
    color: #fff;
}

.aPropos a:hover {
    color: #52D1DC;
    transition-duration: 0.5s;
}

.Github a {
    text-decoration: none;
    color: #fff;
}

.Github a:hover {
    color: #52D1DC;
    transition-duration: 0.5s;
}
