html { 
    background: url(https://img.besthqwallpapers.com/Uploads/18-3-2020/125114/white-3d-grid-4k-3d-art-white-geometric-shapes-3d-stars.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;

}

.container .top {
    padding: 160px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align:center;
}

.container .bottom {
    padding: 180px 220px;;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.container .center .message {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container .center .message span{
    color: #52D1DC;
    text-shadow:0 1px 0 black, 0 -1px 0 black;
}

.icon {
    width: 260px;
    height: 260px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 15px;
    background: #EEF0F4;
    border-radius: 100%;
    box-shadow: 9.01px 9.01px 34px #8D8D8D, 
        -9.01px -9.01px 34px #CECECE;
    transition: 0.2s;
}

.icon:hover{
    background: #EEF0F4;
    border-radius: 100%;
    box-shadow: 0px 0px 0px #8D8D8D, -0px -0px 0px #CECECE;
}


.icon a{
    color: black;
    text-decoration: none;
}

.icon a:hover{
    transition: 0.5s;
    color: #52D1DC;
    text-decoration: none;
    cursor: pointer;
}

.icon .picto img{
    width: 120px;
}
