body {
    width : 100%; 
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #3A445D;
    
}
/*
Nav-bar:
*/

.navigation {
      height: 80px;
      background: #707d9d;
}


.nav-container {
      position:relative;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
}

.nav-container img{
      margin-left: 10px;
      position: absolute;
      padding-left: 20px;
      margin-top: 8px;
}

.bouttons {
      margin-top: 15px;
}

.bouttonsAdmin {
      margin-top: 2.5px;
}

nav {
      float: right;
}


nav ul {
      list-style: none;
      margin: 0 10px;
}

ul li{
      float: left;
      position: relative;
}

nav ul li a, nav ul li a:visited{
      display: inline-block;
      padding: 0 20px;;
      line-height: 48px;
      background: #707d9d;
      color: #ffffff;
      text-decoration: none;
}


nav ul li a:hover, nav ul li a:visited:hover{
      background: #31a9af;
      color: #fcf9bf;
}

/*
nav ul li a:not(:only-child):after {
      padding-left: 4px;
}
*/

/*Button*/
#button1 {
      position: sticky;
      
      
}

button {
      /*position: relative; */
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: inherit;
      font-family: inherit;
    }
    /*button.learn-more:before{ display: none;} */
    button::after { 
      display: none;
      visibility: hidden;
    }
    
    
    
    button.learn-more {
      width: 12rem;
      height: auto;
    
    }
    button.learn-more .circle {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: #282936;
      border-radius: 1.625rem;
    }
    button.learn-more .circle .icon {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #fff;
    }
    button.learn-more .circle .icon.arrow {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      left: 0.625rem;
      width: 1.125rem;
      height: 0.125rem;
      background: none;
    }
    button.learn-more .circle .icon.arrow::before {
      position: absolute; 
      content: "";
      top: -0.25rem;
      right: 0.0625rem;
      width: 0.625rem;
      height: 0.625rem;
      border-top: 0.125rem solid #fff;
      border-right: 0.125rem solid #fff;
      transform: rotate(45deg);
    }
    button.learn-more .button-text {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute; 
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: #282936;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
      font-family: lato,sans-serif;
      font-weight: bold;
    }
    button:hover .circle {
      width: 100%;
    }
    button:hover .circle .icon.arrow {
      background: #fff;
      transform: translate(1rem, 0);
    }
    button:hover .button-text {
      color: #fff;
    }


/*Buttons*/

.bn14 {
      font-family: lato,sans-serif;
      font-weight: bold;
      font-size: 1em;
      letter-spacing: 0.1em;
      text-decoration: none;
      color: #ffffff;
      display: inline-block;
      padding: 10px 40px 10px 40px;
      position: relative;
      border: 3px solid #ffffff;
      border-radius: 25px;
    }

.bn14 :hover{
      background: #7cf6fd;
      color: #707d9d;
}

.creer-exo {
      margin-right: 25px;
}

/*Custom buttom voir tous les exos: */

.custom-btn {
      width: 200px;
      height:50px;
      padding: 10px 25px;
      
      font-family: lato,sans-serif;
      font-weight: bold;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      top: 615px;
      left: 44%;
      text-decoration: none;
      text-align: center;
    }

.btn-5 {
      background: #252525;
      color: #fcf9bf;
      line-height: 25px;
      padding: 0;
      border: none;
    }
.btn-5:hover {
      background: #31a9af;
      color: #fcf9bf;
       box-shadow:
       -7px -7px 20px 0px #fff9,
       -4px -4px 5px 0px #fff9,
       7px 7px 20px 0px #0002,
       4px 4px 5px 0px #0001;
    }
.btn-5:before,
.btn-5:after{
      content:'';
      position:absolute;
      top:0;
      right:0;
      height:2px;
      width:0;
      background: #000;
      transition:400ms ease all;
    }
.btn-5:after{
      right:inherit;
      top:inherit;
      left:0;
      bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
      width:100%;
      transition:800ms ease all;
}

/*Footer*/
.wrapper {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 70px;
background: #707d9d;
color: white;
text-align: center;
align-items: center;
}

#cent {
      align-items: center;
      margin-top: 15px;
}

.btn-footer-right {
      margin-right: 25px;
}

.btn-footer-right:hover {
      background: #31a9af;
      color: #fcf9bf;
}

.btn-footer-left:hover {
      background: #31a9af;
      color: #fcf9bf;
}
