.swiper-container {
    width: 800px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

}
.c1 {
  background-color: rgb(192, 188, 188);
}

.swiper-pagination-bullet {
  border: 5px solid #31a9af;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  color:#000;
  opacity: 1;
  background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
  color: #ffff;
  background: #007aff;
}
