body {
    background-color: #3A445D;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    border: 1px solid #3c6382;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #3c6382;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #d9edf7;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

.navigation {
    height: 70px;
    background: #52D1DC;
    display: flex;
    justify-content: space-between;
}

.brand {
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}

.brand>a,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

.nav-container {
    position: relative;
}

#nom_exo {
    font-family: lato, sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 40px 10px 40px;
    border: 3px solid #ffffff;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 1500px;
}
